:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fcf8f5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.h1-desserts, .p-span-cost, .p-name-in-cart {
  color: #331c14;
}

.h1-cart {
  color: #c83b0e;
  font-weight: bold;
}

button {
  margin-top: -30px;
}

.btn {
  border: 1px solid #c83b0e;
  font-weight: bold;
}

.card-body .p-category, .p-span-price {
  color: gray;
}

.card-body .p-price, .p-span-quantity {
  color: #c83b0e;
}

.card {
  width: 250px;
}

.p-cart {
  color: #7b6361;
}

.cart-div {
  width: 500px;
}

.button-div {
  margin-top: -20px;
  height: 38px;
  width: 158px;
  background-color: #c83b0e;
  position: relative;
  z-index: 10;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.button-div button {
  border: 1px solid white;
  background-color: #c83b0e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0px;
}

.button-div-wrapper {
  margin-bottom: 6px;
}

.btn-remove-item {
  border: 1px solid #bcb6b6;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0px;
}

.p-span-quantity {
  font-weight: bold;
}

.div-delivery-info, .modal-middle {
  background-color: #fcf8f5;
}

.btn-submit {
  background-color: #c83b0e;
  border-radius: 25px;
  color: white;
  width: 100%;
}

.btn-submit:hover {
  background-color: #952c0c;
  border: 1px solid transparent;
}

.img-chosen {
  border: 3px solid #c83b0e;
}

.p-modal-wish {
  color: gray;
}

.add-to-cart-button:hover{
  border: 1px solid #c83b0e;
  color: #c83b0e;
}

@media (max-width: 576px) {
  .cart-div {
    width: auto;
  }

  .modal-content {
    position: fixed; 
    bottom: 0;
    left: 0;
    border: 1px solid white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .modal-title {
    font-size: 2.7em;
  }
}